.table-head{
      grid-template-columns: 20% 20% 20% 20% 20%;
}
.table-body{
      height: 450px;
      overflow: hidden;
      overflow-y: scroll;
}
.table-row{
      grid-template-columns: 20% 20% 20% 20% 20%;
}
th{
      border: none !important;
}
i{
      cursor: pointer;
}