.edit{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      
}
.edit-modal{
      width: 400px;
      height: 350px;
}
.coolinput {
      display: flex;
      flex-direction: column;
      width: fit-content;
      position: static;
      max-width: 240px;
    }
    
    .coolinput label.text {
      font-size: 0.75rem;
      color: #818CF8;
      font-weight: 700;
      position: relative;
      top: 0.5rem;
      margin: 0 0 0 7px;
      padding: 0 3px;
      background: #fff;
      width: fit-content;
    }
    
    .coolinput input[type=text].edit-input {
      padding: 11px 10px;
      font-size: 0.75rem;
      border: 2px #818CF8 solid;
      border-radius: 5px;
      background: #fff;
    }
    
    .coolinput input[type=text].edit-input:focus {
      outline: none;
    }