.coolinput , .cooldatepicker {
      display: flex;
      flex-direction: column;
      width: fit-content;
      position: static;
      max-width: 250px;
}

.cooldatepicker label.text , .coolinput label.text{
      font-size: 0.75rem;
      color: #0d6efd;
      font-weight: 700;
      position: relative;
      top: 0.1rem;
      margin: 0 0 0 7px;
      padding: 0 3px;
      background: #fff;
      width: fit-content;
}

.coolinput input[type=text].input , .cooldatepicker .datepicker {
      padding: 11px 10px;
      font-size: 0.75rem;
      border: 2px #0d6efd solid;
      border-radius: 5px;
      background: #fff;
      width: 250px;
}

.coolinput input[type=text].input:focus , .cooldatepicker .datepicker{
      outline: none;
}
.route-table{
      width: 1150px;
}
.event-table{
      width: 1150px;
}
.trip-table{
      width: 1150px;
}
.stop-table{
      width: 1150px;
}
.summary-table{
      width: 1150px;
}
.route-table-head{
      grid-template-columns: 20% 20% 20% 20% 20%;
}
.route-table-body , .event-table-body , .trip-table-body , .stop-table-body , .summary-table-body{
      height: 400px;
      overflow-y: scroll;
}
.route-table-row{
      grid-template-columns: 20% 20% 20% 20% 20%;
      border: 1px solid rgba(0, 0, 0, 0.5);
}
.event-table-row{
      grid-template-columns: 33% 33% 33%;
      border: 1px solid rgba(0, 0, 0, 0.5);
}
.event-table-head{
      grid-template-columns: 33% 33% 33%;
}
.trip-table-head{
      grid-template-columns: 16% 16% 16% 16% 16% 16%;
}
.trip-table-row{
      grid-template-columns: 16% 16% 16% 16% 16% 16%;
      border: 1px solid rgba(0, 0, 0, 0.5);
}
.stop-table-head{
      grid-template-columns:  25% 25% 25% 25%;
}
.stop-table-row{
      grid-template-columns:  25% 25% 25% 25%;
      border: 1px solid rgba(0, 0, 0, 0.5);
}
.summary-table-head{
      grid-template-columns: 25% 25% 25% 25%;
}
.summary-table-row{
      grid-template-columns: 25% 25% 25% 25%;
      border: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (min-width : 576px ) and (max-width : 767px){
      .wrapper-table{
            overflow-x: auto;
      }
      .head-item p{
            font-weight: normal;
            font-size: 14px;
      }
      .row-item p{
            font-weight: normal;
            font-size: 14px;
      }
}
@media screen and (max-width : 575px){
      .wrapper-table{
            overflow-x: auto;
      }
      .head-item p{
            font-weight: normal;
            font-size: 14px;
      }
      .row-item p{
            font-weight: normal;
            font-size: 14px;
      }
}